
  <!DOCTYPE html>
  <html>
    <head>
      <title>Logbook</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_pack_tag 'application', media: 'all',
                 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application',
                 'data-turbolinks-track': 'reload' %>
      
      </head>
   
   <body>
     <header>
       <nav class="navbar navbar-dark bg-dark">
        <% if user_signed_in? %>
         <div class="btn btn-success">
           <%= link_to 'home', user_path(current_user.id),
                 class: 'text-white' %></div>
         <div class="text-white">
         <%= current_user.fullname %></div>
         <div class="btn btn-danger">
           <%= link_to 'logout', destroy_user_session_path,
              method: :delete, class: 'text-white' %></div>
              
        <% else %>
         <div class="btn btn-primary">
           <%= link_to 'login', new_user_session_path, class: 'text-white' %></div>
         <div class="text-white">LogBook</div>
         <div class="btn btn-success">
           <%= link_to 'sign up', new_user_registration_path,
                           class: 'text-white' %></div>
        <% end %>
      </nav>
    </header>
           
     <div class="alert alert-info" role="alert"><%= notice %></div>
     <div class="alert alert-warning" role="alert"><%= alert %></div>
      <div class="container">
     <%= yield %>
    </div>
  </body>
</html>

 














